body {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: 0px;
}

#chartDiv1, #chartDiv2 {
    font: 12px Arial;
    margin-bottom: 25px;
}

.bar {
    stroke: #266bac;
    stroke-width: 1;
}

.xaxislabel, .yaxislabel {
    text-anchor: middle;
    font-style: italic;
}

.chartTitle {
    font-weight: bold;
}

.xgrid, .ygrid {
    stroke: lightgrey;
    stroke-width: 1;
    opacity: 0.05;
}
